- @title = "1910 Harley Davidson Board Track Racer"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1910-harley-davidson-board-track-racer.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1910-harley-davidson-board-track-racer-sign.jpg", width: "98%"}
