- @title = "1918 Ford Fire Truck"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1918-ford-fire-truck.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1918-ford-fire-truck-sign.jpg", width: "98%"}
