#carcollection
  .sort-of-center
    %h1.biggertitle 1924 Model T School Bus

    %img{src: "/images/carcollection-fullsize/1924-model-t-school-bus.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1924-model-t-school-bus-sign.jpg", width: "98%"}
