- @title = "1924 Electric Ford Model T"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1924-electric-ford-model-t.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1924-electric-ford-model-t-sign.jpg", width: "98%"}
