- @title = "1925 Ford Model T Runabout"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1925-ford-model-t-runabout.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1925-ford-model-t-runabout-sign.jpg", width: "98%"}
