- @title = "1926 Chevrolet Touring Car"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1926-chevy-touring-car.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1926-chevy-touring-car-sign.jpg", width: "98%"}
