- @title = "1926 Tokheim Gas Pump"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1926-tokheim-gas-pump.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1926-tokheim-gas-pump-sign.jpg", width: "98%"}
