- @title = "1928 Ford Model A"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1928-ford-pickup-truck.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1928-ford-model-a-sign.jpg", width: "98%"}
