- @title = "1928 Packard 443"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1928-packard-443.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1928-packard-443-club-sign.jpg", width: "98%"}
