- @title = "1930 Ford Model A Tudor Hot Rod"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1930-ford-model-a-tudor-hot-rod.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1930-ford-model-a-tudor-hot-rod-sign.jpg", width: "98%"}
