- @title = "1931 Ford Victoria"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1931-ford-victoria.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1931-ford-victoria-sign.jpg", width: "98%"}
