- @title = "1931 Cadillac"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1931-cadillac.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1931-cadillac-sign.jpg", width: "98%"}
