- @title = "1932 Hot Rod Ford Roadster"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1932-ford.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1932-hot-rod-ford-roadster-sign.jpg", width: "98%"}
