#carcollection
  .sort-of-center
    %h1.biggertitle 1934 Ford Pickup Truck

    %img{src: "/images/carcollection-fullsize/1934-ford-pickup.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1934-ford-pickup-truck-sign.jpg", width: "98%"}
