- @title = "1935 Auburn Boat Tail Speedster"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1935-auburn-boat-tail-speedster.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1935-auburn-boat-tail-speedster-sign.jpg", width: "98%"}
