- @title = "1936 Plymouth Delux"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1936-plymouth-delux.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1936-plymouth-delux-sign.jpg", width: "98%"}
