- @title = "1937 Packard V12 Sedan"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1937-packard-v12-sedan.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1937-packard-v12-sedan-sign.jpg", width: "98%"}
