- @title = "1941 Lincoln Continental Mark I"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1941-lincoln-continental-mark.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1941-lincoln-continental-mark-sign.jpg", width: "98%"}
