- @title = "1941 Salt Flats Ford Track Roadster"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1941-salt-flats-ford-track-roadster.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1941-salt-flats-ford-track-roadster-sign.jpg", width: "98%"}
