- @title = "1943 Ford Burma Jeep"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1943-ford-burma-jeep.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1943-ford-burma-jeep-sign.jpg", width: "98%"}
