- @title = "1948 Rock-Ola Magic Glo Jukebox"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1948-rock-ola-magic-glo-jukebox.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1948-rock-ola-magic-glo-jukebox-sign.jpg", width: "98%"}
