- @title = "1950 Chevy Delux Fleetline 4-Door Sedan"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1950-chevy-delux-fleetline-4-door-sedan.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1950-chevy-delux-fleetline-4-door-sedan-sign.jpg", width: "98%"}
