- @title = "1951 Ford 8N Tractor"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1951-ford-8n-tractor.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1951-ford-8n-tractor-sign.jpg", width: "98%"}
