- @title = "1958 Chevrolet Impala"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1958-chevrolet-impala.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1958-chevrolet-impala-sign.jpg", width: "98%"}
