- @title = "1960 Ford Thunderbird"

#carcollection
  .sort-of-center
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1960-ford-thunderbird.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1960-ford-thunderbird-sign.jpg", width: "98%"}
