- @title = "1969 Lincoln Continental"

#carcollection
  .sort-of-center
    %p
      %a{href: "/carcollection"} back
    %h1.biggertitle= @title

    %img{src: "/images/carcollection-fullsize/1969-lincoln-continental.jpg", width: "98%"}
    %br
    %br
    %img{src: "/images/stanchion-signs/1969-lincoln-continental-sign.jpg", width: "98%"}
