- @title = "About"

.photos.left
  .thumb
    %img{:alt => "", :src => "/images/history/1.jpg"}/
  .thumb
    %img{:alt => "", :src => "/images/history/2.jpg"}/
  .thumb
    %img{:alt => "", :src => "/images/history/3.jpg"}/
  .thumb
    %img{:alt => "", :src => "/images/history/4.jpg"}/
  .thumb
    %img{:alt => "", :src => "/images/history/5.jpg"}/
  / .thumb
  /   %img{:alt => "", :src => "/images/history/6.jpg"}/
  / .thumb
  /   %img{:alt => "", :src => "/images/history/7.jpg"}/
  .thumb
    %img{:alt => "", :src => "/images/history/8.jpg"}/
.story.left



  %h1.title &nbsp;
  %h2 The Motte Family
  %p The Motte Family is one of the oldest pioneering families in the Perris Valley. Business records indicate that Alphonse Motte and his brothers immigrated to America in the late 1880’s from Gap, France with an interest in sheep and agriculture. In the 1930's John Victor (eldest son of Alphonse Motte) took on his two brothers, Frank and Charles, as business partners. They called their business the "Motte Brothers". The Motte’s became an active family within the valley, concentrating on crops such as potatoes, onions and grains. Their farms spread over parts of Perris, Romoland, Nuevo, and Lakeview. By 1944 the transition was complete, the Motte's were now well established farmers within the valley.
  %p By the 1960's John Victor established his own farming operation with his two sons, Leon and John, naming it Motte and Sons. Ever present in the valley and keen to changing trends, a decision was made for the family corporation to also become active in real estate and development opportunities.
  %p John and Evelyn Motte privately founded the Museum through their estate. Their aspirations were to showcase the history of the pioneer families who first settled in the valley, their antique car collection, and document the area's agricultural roots. Therefore the Museum was made possible by the JEM Foundation to do just that. And in 2007 Motte Historical Museum Inc. became established as a 501(c)(3) non profit organization. The Museum commemorates how the valley has grown and changed, in hopes to encourage the community to continually preserve, teach, and educate others about our local history.
  %h2 The Car Collection
  %p In 1951 John Victor Motte bought a Chevrolet Touring for $15, overhauled the engine, and restored the car in the late 1970's. That Chevrolet was the car that began the private collection, and fueled the Motte Brothers desire to restore antique automobiles. The 1926 Chevrolet Touring is currently on display at the Museum, and the preservation of the rest of the restored automobiles continues today.
  %h2 The Barn
  %p Leon E. Motte built the Motte's Romola Farms Barn in 1985 with architect Robert Morris. Robert Morris has done much architectural design in downtown Temecula, and is known for his wrought iron work and western artistic touch. After building the Barn in 1985 from all salvaged materials, the Motte’s sold produce for about 10 years before leasing it out to other food vendors, such as Tom's Farms and Hamshaw Farms.
  %h2 Romola Farms to Romoland to Menifee
  %p The surrounding community began as "Romola Farms", developed by the Pacific Mutual Life Insurance Company in 1925. Small ranches of four to five acres were offered for the cultivation of fig trees. The project became so popular, it was decided that the Ethanac post office, across the highway from Romola Farms, should have its name changed to Romola. When the Post Office Department requested another name to avoid confusion with San Diego County’s Ramona post office, the name was changed to Romoland. The origin of the development name has never been revealed. The area of Romoland was then voted in to be a part of the new City of Menifee on October 1, 2008. (Gunther, Jane, Riverside County, California, Place Names, Their Origins and Their Stories, Riverside, 1984)

.cl  
