#carcollection
  .sort-of-center
    %h1.biggertitle Car Collection
    .slider-3-wrap
      #slider3
        %ul.slides
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/1.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/2.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/3.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/4.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/5.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/6.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/7.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/8.jpg"}/
    .slider-3-shadow

    %table.carcollection-table
      %tr
        %td
          %a{:href => ""}
            %img{:src => "/images/carcollection/1910-ford-t-speedster.jpg"}
        %td
          %a{:href => ""}
            %img{:src => "/images/carcollection/1918-fire-truck.jpg"}
        %td
          %a{:href => ""}
            %img{:src => "/images/carcollection/1924-model-t-school-bus.jpg"}
        %td
          %a{:href => ""}
            %img{:src => "/images/carcollection/1926-chevy-touring-car.jpg"}

    %a.morephotos{:href => "https://www.facebook.com/mottemuseum/photos"} More Photos Here
