- @title = "Car Collection"

#carcollection
  .sort-of-center
    %h1.biggertitle Car Collection
    .slider-3-wrap
      #slider3
        %ul.slides
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/1.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/2.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/3.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/4.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/5.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/6.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/7.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/carcollection-slides/8.jpg"}/
    .slider-3-shadow

    %table.carcollection-table
      %tr
        %td
          %a{:href => "/carcollection/1910-ford-t-speedster"}
            %img{:src => "/images/carcollection/1910-ford-t-speedster.jpg"}
        %td
          %a{:href => "/carcollection/1918-ford-fire-truck"}
            %img{:src => "/images/carcollection/1918-fire-truck.jpg"}
        %td
          %a{:href => "/carcollection/1924-model-t-school-bus"}
            %img{:src => "/images/carcollection/1924-model-t-school-bus.jpg"}
        %td
          %a{:href => "/carcollection/1926-chevy-touring-car"}
            %img{:src => "/images/carcollection/1926-chevy-touring-car.jpg"}
      %tr
        %td
          %a{:href => "/carcollection/1928-ford-model-a"}
            %img{:src => "/images/carcollection/1928-ford-pickup-truck.jpg"}
        %td
          %a{:href => "/carcollection/1928-packard-443-club"}
            %img{:src => "/images/carcollection/1928-packard-443.jpg"}
        %td
          %a{:href => "/carcollection/1930-ford-model-a-tudor-hot-rod"}
            %img{:src => "/images/carcollection/1930-ford-model-a-tudor-hot-rod.jpg"}
        %td
          %a{:href => "/carcollection/1931-cadillac"}
            %img{:src => "/images/carcollection/1931-cadillac.jpg"}
      %tr
        %td
          %a{:href => "/carcollection/1931-ford-victoria"}
            %img{:src => "/images/carcollection/1931-ford-victoria.jpg"}
        %td
          %a{:href => "/carcollection/1932-hot-rod-ford-roadster"}
            %img{:src => "/images/carcollection/1932-ford.jpg"}
        %td
          %a{:href => "/carcollection/1934-ford-pickup-truck"}
            %img{:src => "/images/carcollection/1934-ford-pickup.jpg"}
        %td
          %a{:href => "/carcollection/1935-auburn-boat-tail-speedster"}
            %img{:src => "/images/carcollection/1935-auburn-boat-tail-speedster.jpg"}
      %tr
        %td
          %a{:href => "/carcollection/1936-plymouth-delux"}
            %img{:src => "/images/carcollection/1936-plymouth-delux.jpg"}
        %td
          %a{:href => "/carcollection/1937-packard-v12-sedan"}
            %img{:src => "/images/carcollection/1937-packard-v-12-sedan.jpg"}
        %td
          %a{:href => "/carcollection/1941-lincoln-continental-mark"}
            %img{:src => "/images/carcollection/1941-lincoln-continental.jpg"}
        %td
          %a{:href => "/carcollection/1941-salt-flats-ford-track-roadster"}
            %img{:src => "/images/carcollection/1941-salt-flat-roadster.jpg"}
      %tr
        %td
          %a{:href => "/carcollection/1943-ford-burma-jeep"}
            %img{:src => "/images/carcollection/1943-berma-jeep.jpg"}
        %td
          %a{:href => "/carcollection/1950-chevy-delux-fleetline-4-door-sedan"}
            %img{:src => "/images/carcollection/1950-chevy-delux-4-door-sedan.jpg"}
        %td
          %a{:href => "/carcollection/1958-chevrolet-impala"}
            %img{:src => "/images/carcollection/1958-chevy-impala.jpg"}
        %td
          %a{:href => "/carcollection/1960-ford-thunderbird"}
            %img{:src => "/images/carcollection/1960-thunderbird.jpg"}
      %tr
        %td
          %a{:href => "/carcollection/1969-lincoln-continental"}
            %img{:src => "/images/carcollection/1969-lincoln-continental.jpg"}

    %a.morephotos{:href => "https://www.facebook.com/mottemuseum/photos"} More Photos Here
