#contact
  .sort-of-center
    %h1.biggertitle Contact Us
    %p
      Barn Address: 28380 Highway 74, Menifee, CA 92585

    %p
      Office Address: 445 South D. Street, Perris, CA 92570

    %p
      Email: <a href="mailto:info@mottemuseum.com">info@mottemuseum.com</a>

    %p
      Museum Phone: <a href="tel:+19519283210">(951) 928-3210</a>
      
    %p
      Fax: (951) 657-2406

    %p
      %img.map{:src => "/images/map.gif"}
