- @title = "Donate"

#carcollection
  .sort-of-center
    %h1.biggertitle Donate
    %script{"data-donately-amount" => "50", "data-donately-id" => "409", :src => "https://www.dntly.com/assets/js/v1/form.js"}
