.slider-wrap
  #slider
    %ul.slides
      %li
        %img{:alt => "Historical Car Museum", :src => "/images/home-slides/1.jpg"}/
      %li
        %img{:alt => "Classy Occasions at The Motte Barn", :src => "/images/home-slides/2.jpg"}/
      %li
        %img{:alt => "Vintage Get-Away Car Rentals", :src => "/images/home-slides/3.jpg"}/
    %p.title
      %span
.slider-shadow
.columns
  .column.history
    .top
      %a{:href => "/about"}
        %img{:alt => "", :src => "/images/column-history-2.jpg"}/
        %span History
    .bottom
  .column.classic
    .top
      %a{:href => "/carcollection"}
        %img{:alt => "", :src => "/images/column-classic.jpg"}/
        %span Classic Cars
    .bottom
  .column.visit
    .top
      %a{:href => "/visit"}
        %img{:alt => "", :src => "/images/column-visit.jpg"}/
        %span Plan a Visit
    .bottom
  .column.events
    .top
      %a{:href => "/rentalfacility"}
        %img{:alt => "", :src => "/images/column-events.jpg"}/
        %span Weddings & Events
    .bottom