- @title = "Facility Rental"

#rentalfacility
  .sort-of-center
    %h1.biggertitle Venue Rental for Weddings, Parties or Special Events

    %p
      <strong>The venue is available to rent for your special day.</strong>
    %p &nbsp;
    %p
      Wedding packages include tables, chairs, professional dance floor, wedding arch, and janitorial staff to set-up, maintain and break down. We include a licensed security officer and in house coordinator.
    %p &nbsp;
    %p
      Use our preferred vendors or bring in your own licensed professionals!
    %p &nbsp;
    %p
      Party and event prices vary depending on number of guests and length of rental time desired. Please contact us for a customized quote. <a href="mailto:info@mottemuseum.com">info@mottemuseum.com</a>

    %p &nbsp;

    %p
      %a.btn-medium{:href => "https://www.dropbox.com/s/7ww4txw37qh5beu/New%20Wedding%20Brochure_Barn.pdf?dl=0"} Weddings &amp; Receptions Brochure

    %p &nbsp;

    .slider-3-wrap
      #slider3
        %ul.slides
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/7.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/8.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/9.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/1.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/2.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/3.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/4.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/5.jpg"}/
          %li
            .slide
              %img{:alt => "", :src => "/images/rentalfacility-slides/6.jpg"}/
    .slider-3-shadow

    / %p 
    /   %a.btn-large{:href => "https://www.dropbox.com/s/fmppnfhueyl9v3t/special-events-and-weddings-packet.pdf?dl=0"} Click here to view rental information & rates
    / %p Schedule an appointment to see the venue: <a href="mailto:info@mottemuseum.com">info@mottemuseum.com</a> <a href="tel:+19519283210 ">(951) 928-3210</a>
