- @title = "Visit"

.photos.left
  %h2 Hours of Operation
  %p 
    Wednesday - Saturday: 
    %br
    10:00am - 4:00pm
  %p &nbsp;
  %p 
    1st &amp; 3rd Sunday of the month:
    %br
    10:00am-4:00pm
  %p &nbsp;
  %a{:href => "https://www.dropbox.com/s/sftiql130cbfc6u/rack-card.pdf?dl=0"}
    %img{:alt => "", :src => "/images/rack-card-front.png", :width => "92%"}/

#visit.left
  %div
    %h2.biggertitle Upcoming Events

    %h3.biggishtitle April 29, 2017 - 5th Annual Big Barn Car Show

    %p <a href="https://www.dropbox.com/s/wq0stgup8w1ew1i/big-barn-classic-car-show.pdf?dl=0">Live Entertainment</a>, Vendor Booths &amp; Beautiful Cars!
    
    %table
      %tr
        %td
          %a.btn-medium{:href => "https://www.dropbox.com/s/r5gxxxa4nxipaj2/The%20Big%20Barn%20APPLICATION2017%20.pdf?dl=0"} Car Registration
        %td
          // Full Show! Come and see the many cars!
        // %td
        //   %a.btn-medium{:href => "https://www.dropbox.com/s/wdpv6j3g2ibfqqw/big-barn-classic-car-show-registration.pdf?dl=0"} Car Show Registration

    // %h3.biggishtitle Motte Country Plaza Farmers Market

    // %p Wednesday Evenings 4:00pm-8:00pm

    // %table
    //   %tr
    //     %td
    //       %a.btn-medium{:href => "https://www.dropbox.com/s/zfslg5uhfbbv5sv/farmers-market.pdf?dl=0"} Farmers Market

    // %h3.biggishtitle Recurring - Car Cruises &amp; Meetups

    // %p We occassionally have car cruises and meetups. Click the button to learn more.

    // %table
    //   %tr
    //     %td
    //       %a.btn-medium{:href => "https://www.dropbox.com/s/5szage925ul8hsr/car-cruise.pdf?dl=0"} Car Cruises &amp; Meetups

    %h1.biggertitle Calendar
    <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=mottemuseum.com_4b5s0b1ndqc9u1fqs0sd288rac%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

    %br
    %br
    %br

    %br
    %br
    %br
    %br
