#visit
  .sort-of-center
    %h2.biggertitle Upcoming Events

    %h3.biggishtitle April 25th - 3rd Annual Big Barn Car Show

    %p Our 3rd Annual Big Barn Car Show is coming up on <a href="/assets/big-barn-classic-car-show.pdf">April 25th</a>. It is going to be a great event!
    
    %table
      %tr
        %td
          %a.btn-medium{:href => "/assets/big-barn-classic-car-show.pdf"} Big Barn Classic Car Show

    %h3.biggishtitle Recurring - Car Cruises &amp; Meetups

    %p We occassionally have car cruises and meetups. Click the button to learn more.

    %table
      %tr
        %td
          %a.btn-medium{:href => "/assets/car-cruise.pdf"} Car Cruises &amp; Meetups

    %h3.biggishtitle Jan 17th - Motte Museum Bridal Show

    %p Be sure to attend a "Vintage Affair" Bridal Show at the Barn on <a href="/assets/bridal-show.pdf">January 17, 2015</a>!

    %table
      %tr
        %td
          %a.btn-medium{:href => "/assets/bridal-show.pdf"} Bridal Show

    %h1.biggertitle Hours of Operation
    %p Wednesday - Saturday 10:00am-4:00pm
    %p &nbsp;
    %p Open the 1st & 3rd Sunday of the Month 9:00am-3:00pm
    %p &nbsp;
    %p 
      %a{:href => "/assets/calendar-of-events-and-move-car-dates.pdf"} (All hours are Pending Special Events & Holidays)
