- @title = "Visit"

.photos.left
  %h2 Hours of Operation
  %p 
    Wednesday - Sunday: 
    %br
    10:00am - 4:00pm
  %p &nbsp;
  %a{:href => "https://www.dropbox.com/s/hzl9m8ldsd3slya/2018%20Rack%20Card.pdf?dl=0"}
    %img{:alt => "", :src => "/images/rack-card-front.jpg", :width => "240px"}/

#visit.left
  %div
    %h2.biggertitle Group Tours

    %p
      Car Clubs, Schools, Youth Groups &amp; Service Organizations are welcome to schedule a tour, tour the museum, visit the gift shop and enjoy a movie in our old time cinema. Weekend tours are scheduled in advance, pending availability.

    %p
      &nbsp;

    %h2.biggertitle Upcoming Events

    %h3.biggishtitle Annual Open House - February 10, 2018

    %p 10:00am - 2:00pm. Fun for the Entire Family!

    %br

    %table
      %tr
        %td
          %a.btn-medium{:href => "https://www.dropbox.com/s/j8wr6wlybr4vnut/Motte%20Museum%20Open%20House%20Flyer%202018.pdf?dl=0"} Annual Open House

    %br

    %h3.biggishtitle 6th Annual Big Barn Classic Car Show - April 28, 2018

    %p Save the date for the 6th Annual Motte Historical Museum "Big Barn Classic Car Show". Free general admission, but the show fills up fast, please contact us for an application.

    %br
    
    %table
      %tr
        %td
          %a.btn-medium{:href => "https://www.dropbox.com/s/ncjrbryxvghqbra/Mottes%20Museum%20Car%20Show%202018%20Flyer.pdf?dl=0"} Car Show Flyer
        %td
          %a.btn-medium{:href => "https://www.dropbox.com/s/lu89tgbuu82ms6r/The%20Big%20Barn%20APPLICATION.pdf?dl=0"} Car Show Application

    // %h3.biggishtitle Motte Country Plaza Farmers Market
    // %p Wednesday Evenings 4:00pm-8:00pm
    // %table
    //   %tr
    //     %td
    //       %a.btn-medium{:href => "https://www.dropbox.com/s/zfslg5uhfbbv5sv/farmers-market.pdf?dl=0"} Farmers Market
    // %h3.biggishtitle Recurring - Car Cruises &amp; Meetups
    // %p We occassionally have car cruises and meetups. Click the button to learn more.
    // %table
    //   %tr
    //     %td
    //       %a.btn-medium{:href => "https://www.dropbox.com/s/5szage925ul8hsr/car-cruise.pdf?dl=0"} Car Cruises &amp; Meetups

    %h1.biggertitle Calendar
    %p
      Closed Mondays &amp; Tuesday, Holidays or when the facility is reserved for a private event. Please check calendar below for closure dates.

    %br

    <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=mottemuseum.com_4b5s0b1ndqc9u1fqs0sd288rac%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

    %br
    %br
    %br

    %br
    %br
    %br
    %br
